@import url("https://fonts.cdnfonts.com/css/dm-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  background-image: url(./assets/bgmbc.png);
  background-size: cover;
  background-repeat: repeat-y;
  font-family: "DM Sans", sans-serif;
}
